$project-background: #f5f5f5;
$project-container-background: #f5f5a0;

.project-container {

  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background-color: $project-container-background;

  .project{ 
    width: 600px;
    display: flex;
    // height: 200px;
    border-radius: 2px;
    background-color: $project-background;
    font-size: 1.15em;

    @media (max-width: 600px) {
      .project {
        width: 100%;
      }
    }
  }
}


