.article-container {
  display: flex;
  justify-content: space-around;
  white-space: normal;
  padding-bottom: 5px;
  .article {
    white-space: normal;
    margin-top: 20px;
    color: #404040;
    font-size: 1.15em;
    line-height: 175%;
    width: 650px;
    padding: 5px;
  }

  a {
    text-decoration: none;
    color: #306eff;
  }

  img {
    max-width: 100%;
    border-radius: 6px;
    box-shadow: 0 19px 38px rgba(100,100,100,0.30), 0 15px 12px rgba(200,200,200,0.22);
    margin-left: 0px;
  }
  #headshot {
    float: left;
    max-height: 250px;
    box-shadow: none;
    margin-right: 14px;
    margin-bottom: 8px;
    margin-top: 8px;
    border-radius: 4px;
  }
  @media (max-width: 680px) {
    #headshot {
      max-height: none;
    }
    p {
      margin-left: 10px;
      margin-right: 10px;
    }
    pre {
      margin-left: 10px;
      margin-right: 10px;
      padding: 20px;
      border-radius: 6px;
      background-color: #e8eaff;
    }
  }
}
