.sidenav {
  // font-size: 14pt;
  background-color: #e2e2e2;
  padding:0px;
  // width: 55px;
  // margin-right: 10px;
  margin-top: 140px;
  // max-height: 600px;
  font-family: 'Signika';
  list-style-type: none;
  font-size: medium;
  a {
    text-decoration: none;
    font-size: large;
    color: black;
  }
}

.series-title {
  color: grey;
  background-color: none;
}

.series-body {
  color: blue;
}

li {
  color: grey;
}
