.sidenav {
  // background-color: #eaf2ff;
  margin-right: 10px;
  margin-top: 112px;
  height: 0%;
  font-family: 'Signika';
  white-space: nowrap;
  list-style-type: none;
  font-size: medium;
  overflow-x: hidden;
  transition: 0.5s;

  .series-title {
    color: #a8b2c4;
  }
  .series-body {
    list-style-type: square;
    font-size: large;
    display: block;
    .published {
      text-decoration: none;
      color: #1E2556;
      list-style-type: square;
    }
    .unpublished {
      color: #255E99;
      list-style-type: square;
    }
  }
}
