$font-stack: 'Mrs Sheppards', cursive;
$header-background: #92ccdd;
$header-text-color: #fdc4ec;
$header-text-hover-color: #ff4242;

.header-container{
    background-color: $header-text-hover-color;
    padding-bottom: 10px;
    padding-top: 70px;
    width: 100%;
    .header {
      font-family: $font-stack;
      font-size: 20pt;
      display: flex;
      justify-content: space-around;
      background-color: $header-background;

        a {
          text-decoration: none;
          -o-transition:.4s;
          -ms-transition:.4s;
          -moz-transition:.4s;
          -webkit-transition:.4s;
          transition:.4s;
          color: $header-text-color;

            &:hover {
              color: $header-text-hover-color;
            }
        }
    }
}
@media (max-width: 0px) {
  .header-container {
    width: 100%;
  }
}

