$font-stack: 'Mrs Sheppards', cursive;
// $header-background: #c7d0dd;
$header-background: #333;
// $header-background: white;
$header-container-background: #d8c3d7;
// $header-container-background: white;
$header-text-color: black;
$header-text-hover-color: blue;

.header-container {
    background-color: $header-background;
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 15px;
    margin-bottom: 20px;

    .header {
      font-family: $font-stack;
      font-size: 20pt;
      display: flex;
      justify-content: space-around;
      width: 700px;

        a {
          text-decoration: none;
          -o-transition:.4s;
          -ms-transition:.4s;
          -moz-transition:.4s;
          -webkit-transition:.4s;
          transition:.4s;
          color: $header-text-color;

          &:hover {
            color: $header-text-hover-color;
          }
        }
    }
    @media (max-width: 700px) {
      .header {
        width: 100%;
      }
    }
}

$grad-color-top: #cecece;
// $grad-color-top: white;
$grad-color-bottom: #cecece;

// html {
//   min-height: 100%;
// }

@mixin gradient($color-top, $color-bottom) {
  background: $color-bottom; /* Old browsers */
  background: -moz-linear-gradient($color-top, $color-bottom); /* W3C */
  background: -webkit-gradient($color-top, $color-bottom); /* W3C */
  background: -webkit-linear-gradient($color-top, $color-bottom); /* W3C */
  background: -o-linear-gradient($color-top, $color-bottom); /* W3C */
  background: -ms-linear-gradient($color-top, $color-bottom); /* W3C */
  background: linear-gradient($color-top, $color-bottom); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color-top', endColorstr='$color-bottom',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.header-container {
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  @include gradient($grad-color-top, $grad-color-bottom);
}
