.header-container {
    background-color: #3f0fff;
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    padding-bottom: 15px;

    .header {
      font-family: 'Knewave';
      font-size: 18pt;
      display: flex;
      justify-content: space-around;
      width: 700px;

      a {
        color: #ffffff;
        text-decoration: none;
        outline: none;
        -o-transition:.1s;
        -ms-transition:.1s;
        -moz-transition:.1s;
        -webkit-transition:.1s;
        transition:.1s;

        &:hover {
          color: #8cfffd;
        }
        &:focus{
          color: #8cfffd;
        }
      }
    }
}
