.header {
  height: 100px;
}

.navbar {
  font-family: 'Mrs Sheppards', cursive;
  font-size: 20pt;
  display: flex;
  justify-content: space-around;
  background-color: #1E2556;
}

a {
  text-decoration: none;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

.projects {
  /* color: #00BFA5; */
  color: #ff7449;
}

.writing {
  color: #ff7449;
  /* color: #304FFE; */
}

.about {
  color: #ff7449;
  /* color: #6200EA; */
}

a:hover {
  /* color: black; */
  color: white;
}

a:focus {
  /* color: black; */
}

