.video-container {
  display: flex;
  justify-content: space-around;
  .video {
    padding-left: 18px;
    padding-right: 6px;
    color: #404040;
    font-size: 1.00em;
    line-height: 150%;
    width: 650px;
    margin-bottom: 10px;
    #title {
      font-size: 18px;
      font-weight: bold;
    }
    img {
      float: left;
      max-height: 150px;
      margin-right: 18px;
      border-radius: 4px;
    }
    @media (max-width: 480px) {
      img {
        display: block;
        max-width: 150px;
        height: auto;
      }
      #title {
        font-size: 16.5px;
      }
    }
  }
}

