// $icon-color: #1E2556;
$icon-color: black;
$icon-hover-color: #141a3d;

.footer {
  height: 20px;
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  // background-color: #e2e2e2;
}

.fa {
  color: $icon-color;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;

  &:hover {
    color: $icon-hover-color;
  }
}
