$icon-color: #1E2556;
$icon-color: black;
$icon-hover-color: #141a3d;
$footer-background: white;

.footer-container {
    display: flex;
    justify-content: space-around;
    .footer {
      width: 700px;
      display: flex;
      justify-content: space-around;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 120px;
      padding-right: 120px;
      background-color: $footer-background;
    }

    @media (max-width: 700px) {
      .footer {
        width: 100%;
      }
    }
    .fa {
      color: $icon-color;
      -o-transition:.4s;
      -ms-transition:.4s;
      -moz-transition:.4s;
      -webkit-transition:.4s;
      transition:.4s;

      &:hover {
        color: $icon-hover-color;
      }
    }
}

