.footer {
  height: 20px;
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
}

.fa {
  color: black;
  -o-transition:.4s;
  -ms-transition:.4s;
  -moz-transition:.4s;
  -webkit-transition:.4s;
  transition:.4s;
}

.fa:hover {
  color: #E040FB;
}
