$text-highlight-color: #C6CDFF;

::selection {
  background: $text-highlight-color; /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: $text-highlight-color; /* Gecko Browsers */
}

.app {
  margin-left: auto;
  margin-right: auto;
  // font-family: 'Roboto', 'Open Sans', sans-serif;
  font-family: 'PT Serif', 'Bitter', 'Noto Serif', 'Roboto Slab', 'PT Sans', 'Roboto', sans-serif;
}

