$text-highlight-color: #b6afff;

::selection {
  background: $text-highlight-color;
}

::-moz-selection {
  background: $text-highlight-color;
}

.app {
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto', sans-serif;
}

