$text-highlight-color: #C6CDFF;

::selection {
  background: $text-highlight-color;
}

::-moz-selection {
  background: $text-highlight-color;
}

.app {
  margin-left: auto;
  margin-right: auto;
  font-family: 'PT Serif', 'Bitter', 'Noto Serif', 'PT Sans', 'Roboto', sans-serif;
}

