.guide-container {
  display: flex;
  justify-content: space-around;
  background-color: #70728c;
  .guide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    width: 560px;
    @media (max-width: 560px) {
      width: 100%;
    }
    .guide-link {
      font-family: 'Magra', 'Open Sans', 'Arial';
      font-size: 13pt;
      padding-top: 10px;
      padding-bottom: 10px;
      text-decoration: none;
      color: black;
      &:hover {
        background-color: #9698b7;
      }
    }
  }
  .guide-link.inactive {
    opacity: 0.5;
    pointer-events: none;
  }
}



