$header-text-hover-color: #7e91fa;

.guide-container {
    display: flex;
    justify-content: space-around;
    // background-color: #7e91fa;
    background-color: #abacc9;
}

.guide {
    display: flex;
    align-items: center;
}

a {
}
.guide-link {
    font-family: 'Magra';
    font-size: 13pt;
    padding: 10px;
    text-decoration: none;
    color: black;
    &:hover {
      background-color: #a0a3d8;
    }
}
    // <link href="https://fonts.googleapis.com/css?family=Mrs+Sheppards|Open+Sans|Palanquin+Dark|Signika|Baloo+Bhaina|PT+Sans|Slabo+27px|Noto+Serif|Ropa+Sans" rel="stylesheet">
