.guide-container {
    display: flex;
    justify-content: space-around;
    background-color: #a1a1a1;
}

.guide {
    display: flex;
    align-items: center;
}

a {
    padding: 10px;
    text-decoration: none;
    color: blue;
}
