html {
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #2aa5d6; /* Old browsers */
  background: -moz-linear-gradient(#303d9b, #2aa5d6); /* W3C */
  background: -webkit-gradient(#303d9b, #2aa5d6); /* W3C */
  background: -webkit-linear-gradient(#303d9b, #2aa5d6); /* W3C */
  background: -o-linear-gradient(#303d9b, #2aa5d6); /* W3C */
  background: -ms-linear-gradient(#303d9b, #2aa5d6); /* W3C */
  background: linear-gradient(#303d9b, #2aa5d6); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#303d9b', endColorstr='#2aa5d6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
