.book-container {
  display: flex;
  justify-content: space-around;
  .book {
    padding-left: 18px;
    padding-right: 6px;
    color: #404040;
    font-size: 1.00em;
    line-height: 150%;
    width: 650px;
    margin-bottom: 10px;
    #title {
      font-size: 18px;
      font-weight: bold;
    }
    #cover {
      float: left;
      max-height: 150px;
      margin-right: 18px;
      border-radius: 5px;
    }
    @media (max-width: 480px) {
      #title {
        font-size: 16.5px;
      }
    }
  }
}

