.book-container {
  display: flex;
  justify-content: space-around;
  .book {
    padding-left: 18px;
    color: #404040;
    font-size: 1.00em;
    line-height: 175%;
    width: 650px;
    margin-bottom: 10px;
    #title {
      font-size: 18px;
      font-weight: bold;
    }
    #cover {
      box-shadow: 0 6px 38px rgba(100,100,100,0.30), 0 15px 12px rgba(200,200,200,0.22);
      float: left;
      max-height: 150px;
      margin-right: 18px;
      border-radius: 5px;
    }
  }
}

